.large-avatar {
   border-radius: 50%;
    width: 10em; /* Ajusta este valor según el tamaño que desees */
    height: 10em; /* Ajusta este valor según el tamaño que desees */
  }

  .user-details{
    display: flex;
    flex-direction: column;
  }