.accordion-header ion-icon {
    color: #f4f5f8;
}

.small-avatar{
    border-radius: 50%;
    width: 4em; 
    height: 4em; 
    object-fit: cover;
}

.medium-avatar{
    border-radius: 50%;
    width: 6em; 
    height: 6em; 
    object-fit: cover;
}