.accordion-header ion-icon {
    color: #f4f5f8;
}

.small-avatar{
    border-radius: 50%;
    width: 4em; /* Ajusta este valor según el tamaño que desees */
    height: 4em; /* Ajusta este valor según el tamaño que desees */
    object-fit: cover;
}